#svg-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#tooltip {
  position: absolute;
  display: none;
  padding: 5px;
  font-family: sans-serif;
  font-size: 14px;
  color: white;
  background-color: rgb(111, 151, 183);
  border-radius: 12px;
  border: rgb(84, 99, 110) solid 2px;
  opacity: 0.8;
  z-index: 1;
}

#top-table-container {
  display: none;
}

.top-table-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: rgba(81, 121, 153, 0.8);
  border: 3px solid rgb(84, 99, 110);
  overflow: auto;
}

#top-table td {
  text-align: left;
  width: 8%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: normal;
}

#top-table td:first-child {
  width: 25%;
  text-align: left;
  font-size: 0.90rem;
  font-weight: normal;
}

#top-table td:last-child {
  text-align: left;
  width: 2% !important;
}

#top-table {
  border: none;
  table-layout: fixed;
  width: 100%;
  font-size: 0.86rem;
}

#bottom-table-container {
  display: none;
}

.bottom-table-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: rgba(81, 121, 153, 0.8);
  border: 3px solid rgb(84, 99, 110);
  overflow: auto;
}

td {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
}

.widerCell {
  width: 20%;
}

.widerCellUITable {
  width: 30% !important;
}

#bottom-table {
  border: none;
  table-layout: fixed;
  width: 100%;
  font-size: 0.86rem;
}

#bottom-table td {
  text-align: left;
  width: 8%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: normal;
}

#bottom-table td:first-child {
  width: 25%;
  text-align: left;
  font-size: 0.90rem;
  font-weight: normal;
}

#bottom-table td:last-child {
  text-align: left;
  width: 2% !important;
}

#menu-container {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(84, 99, 110, 0.7);
}

.menu-container {
  width: 50%;
  height: 80%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  border: 5px solid white;
}

#UIButtonContainer {
  width: 18%;
  height: 5%;
  position: fixed;
  top: 40px;
  left: 5px;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  justify-content: center;
  z-index: 9999;
}

.UI-option {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: green;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: normal;
  border: 1px solid white;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.UI-option:hover {
  cursor: pointer;
  background-color: rgb(0, 85, 0);
  transition: all 0.3s ease;
}

.popup-with-confirm-container {
  width: 15%;
  height: 40%;
  position: fixed;
  bottom: 8%;
  left: 5px;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  justify-content: center;
  z-index: 9999;
}

.menu-option {
  width: 100%;
  height: 25%;
  background-color: rgba(81, 121, 153, 0.8);
  color: #ffffff;
  font-size: 1.5rem;
  margin: auto;
  border: none;
}

.popup-option {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(81, 121, 153, 0.8);
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: normal;
  border: 1px solid white;
}

.popup-option-confirm {
  width: 100%;
  border-radius: 10px;
  border: 1px white solid;
  opacity: 0;
  bottom: 0;
  margin-top: 20px !important;
}

.popup-option-confirm.greenBackground {
  background-color: green;
  transition: all 0.3s ease;
}

.popup-option-confirm.greenBackground:hover {
  cursor: pointer;
  background-color: rgb(0, 85, 0);
  transition: all 0.3s ease;
}

.popup-option-color {
  border-bottom: none;
  font-size: 1rem;
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.popup-option-color:hover {
  cursor: pointer;
  background-color: rgb(45, 81, 110);
}

#color-picker {
  /* display: none; */
  width: 18%;
  height: 40%;
  position: absolute;
  bottom: 8%;
  left: 200px;
}

.popup-option-title {
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1rem;
}

.popup-option-subtitle {
  height: 40%;
  display: flex;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  line-height: 1.1;
  justify-content: center;
  align-items: flex-end;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}


.title {
  color: yellow;
  font-size: 6rem;
  text-shadow: 4px 4px 6px rgba(0,0,0,0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.subTitle {
  font-size: 4rem;
  text-shadow: 4px 4px 6px rgba(0,0,0,0.5);
  border-bottom: 5px solid white;
}

.option-3 {
  font-size: 4rem;
  transition: all 0.3s ease;
}

.option-5 {
  font-size: 4rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.3s ease;
}

.option-3:hover {
  cursor: pointer;
  background-color: rgb(45, 81, 110);
  transition: all 0.3s ease;
}

.option-4 {
  font-size: 4rem;
  background-color: rgb(81, 121, 153);
  transition: all 0.3s ease;
}

.option-4.isPlaying {
  background-color: green;
  transition: all 0.3s ease;
}

.option-4.isNotPlaying {
  background-color: red;
  transition: all 0.3s ease;
}

.option-4:hover {
  cursor: pointer;
  background-color: rgb(45, 81, 110);
  transition: all 0.3s ease;
}

.option-4.isPlaying:hover {
  cursor: pointer;
  background-color: rgb(0, 85, 0);
  transition: all 0.3s ease;
}

.option-4.isNotPlaying:hover {
  cursor: pointer;
  background-color: rgb(85, 0, 0);
  transition: all 0.3s ease;
}

.option-5:hover {
  cursor: pointer;
  background-color: rgb(45, 81, 110);
  transition: all 0.3s ease;
}

.confirm-button {
  font-size: 4rem;
  border-radius: 10px;
}

.resourceFields {
  text-align: left;
  width: 2% !important;
}

.population {
  text-align: left;
  width: 3% !important;
}

.area {
  text-align: left;
  width: 2% !important;
  font-size: 0.78rem;
}

.iconCell {
  width: 1% !important;
}

.sizingIcons {
  height: 20px;
  width: 23px;
}

.flag {
  width: 30px;
  height: 20px;
  display: block;
  margin: auto;
  border: 2px solid rgb(45, 81, 110);
  border-radius: 25%;
}

/* -------------------------------------------- MAIN UI --------------------------------------------- */

#main-ui-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 80vh;
  background-color: rgba(81, 121, 153, 0.9);
  border: 3px solid rgb(84, 99, 110);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 0.9rem;
  box-sizing: border-box;
}

.tab-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(54, 93, 125, 0.8);
}

.tab-button {
  cursor: pointer;
  padding: 5px 10px;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  border: 3px solid rgb(84, 99, 110);
  transition: all 0.3s ease;
  background-color: rgb(81, 121, 153);
  width: 50%;
}

.x-button {
  cursor: pointer;
  padding: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  border: 3px solid rgb(84, 99, 110);
  transition: all 0.3s ease;
  background-color: rgb(81, 121, 153);
}

.tab-button:hover {
  background-color: rgb(111, 151, 183);
}

.x-button:hover {
  background-color: rgb(111, 151, 183);
}


.tab-button.active {
  color: white;
  background-color: rgb(111, 151, 183);
  border: 3px solid rgb(84, 99, 110);
}

.content-window {
  height: 445px;
  display: flex;
  flex-grow: 1;
  overflow: auto;
  box-sizing: border-box;
}

.info-panel {
  position: relative;
  flex-basis: 100%;
  padding: 10px;
  overflow-y: auto;
}

.info-panel::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
  background: rgba(0, 0, 0, 0.5) no-repeat center / 100% 100%;
  background-image: var(--bg-image);
}

.info-panel > * {
  position: relative;
  z-index: 1;
}

#selection-panel {
  display: none;
  flex-basis: 0%;
  padding: 10px;
  border-left: 3px solid rgb(84, 99, 110);
  overflow-y: auto;
}

.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px); /* adjust the amount of blur */
}

/* -------------------------------------------- TERRITORY TABLE--------------------------------------------- */

#uiTable {
  display: none;
}

.ui-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.ui-table-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px white solid;
  background-color: rgba(45, 81, 110, 0.5);
}

.ui-table-row-hoverable {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(45, 81, 110, 0.7);
}

.ui-table-row-hoverable:hover {
  cursor: pointer;
  background-color: rgb(81, 121, 153);
  transition: all 0.3s ease;
}


.ui-table-column {
  align-items: center;
  width: calc(100% / 9);
  height: 40px;
  cursor: pointer;
  color: white;
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgb(45, 81, 110);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(81, 121, 153);
}

.upgrade-button {
  cursor: pointer;
}

.upgrade-button:hover {
  filter: brightness(120%);
}

.sizeUpgradeButton {
  width: 90%;
}

.centerIcons{
  justify-content: center;
  align-items: center;
  display: flex;
}












